@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$fontPrimary: 'Roboto', sans-serif;
$fontSize: 1.8rem;

h1 {
  margin: 0 0 40px;
  font-size: 6rem;
  font-weight: 700;
}
h2 {
  margin: 0 0 35px;
  font-size: 4.5rem;
  font-weight: 700;
}