// Grid
$xl: 1200px;
$lg: 990px;
$md: 768px;
$sm: 576px;
$gutter: 20px;
$container: $xl;

// Colors
$text: #333;
$textPale: #696969;

$blue: #4788D9;
$blueDark: #1B325D;
$bluePale: #DAE8F7;

$beginner: #70C1B3;
$intermediate: #FFE066;
$advanced: #F25F5C;
// $beginner: #0B6E4F;
// $intermediate: #FA9F42;
// $advanced: #721817;
